body {
  background-color: black;
  color: white;
}

em {
  color: red;
}

p{
  color: white;
}

img {
  border-radius: 10%;
  height: 100px;
  width: 100px;
}

#container {
  display: flex;
}

.float-child {
  flex: 2;
  border: 2px solid yellow;
  background-color: gray;
  border-radius: 10%;
  margin-left: 20px;
  margin-right: 20px;
}

button {
  margin: 10px;
}

h1 {
  color: white;
}

#parent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px;
}

#centre{
  height: 70px;
  width: 170px;
  border-radius: 10px;
}

#tryAgain{
  margin-top: 30px;
  margin-left: 10px;
}